<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
            <div class="col-6 offset-3">
                <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
                    <div class="mb-2">
                        <label class="form-label" for="">Title</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="">Location</label>
                        <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>">
                    </div>
                    <div class="mb-2">
                        <label for="image" class="form-label">Image Url</label>
                        <input type="text" class="form-control" id="image" name="campground[image]" value="<%= campground.image %>">
                    </div>
                    
                    <div class="input-group mb-2">
                        <label for="price" class="form-label">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00"
                            aria-label="campground price" aria-describedby="basic-addon1" name="campground[price]" value="<%= campground.price %>">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="campground[description]"></textarea>
                    </div>
                    <div class="mb-2 text-center">
                        <button class="btn btn-success ">Update Campground</button>
                    </div>
                </form>
                <div class="d-flex justify-content-evenly">

                    <div class="mb-2">
                        <button class="btn btn-info">
                            <a href="/campgrounds/<%= campground._id %>">Back to Campgrounds</a>
                        </button>
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-info">
                            <a href="/">Back to Home</a>
                        </button>
                    </div>
                </div>
            </div>
    </div>